# Windows image file caches
Thumbs.db
ehthumbs.db

# Folder config file
Desktop.ini

# Recycle Bin used on file shares
$RECYCLE.BIN/

# Windows Installer files
*.cab
*.msi
*.msm
*.msp

# Windows shortcuts
*.lnk

# =========================
# Operating System Files
# =========================

# OSX
# =========================

.DS_Store
.AppleDouble
.LSOverride

# Thumbnails
._*

# Files that might appear on external disk
.Spotlight-V100
.Trashes

# Directories potentially created on remote AFP share
.AppleDB
.AppleDesktop
Network Trash Folder
Temporary Items
.apdisk
zombiespel/bin/Debug/zombiespel.exe
*.o
zombiespel/zombiespel.cbp
*.layout
zombiespel/Projekt/Projekt.cbp
*.cbp
zombiespel/bin/Debug/libjpeg-9.dll
zombiespel/bin/Debug/libpng16-16.dll
zombiespel/bin/Debug/libtiff-5.dll
*.dll
*.exe
*.depend
